@import "./utils/_variables";

@import "./base/__reset";
@import "./base/_body";

@import "./components/_header";
@import "./components/_baner";
@import "./components/_peculiarities";
@import "./components/_about";
@import "./components/_team";
@import "./components/_client";
@import "./components/_portfolio";
@import "./components/_footer";
@import "./components/_backdrop";
@import "./components/_modal";