.banner {
    background-color: #2F303A66;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/img-hero.jpg");
    padding: 200px 0;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    background-size: cover;
}


.banner__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-main);
    width: 696px;
    margin: 0 auto;
}


.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--background-main);
    cursor: pointer;
    background-color: var(--color-hover);
    border: none;
    border-radius: 4px;
}

.button--banner {
    height: 50px;
    width: 200px;
    margin-top: 30px;
}