.client__list {
    display: flex;
    justify-content: center;
}

.client__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--color-main-text);
    margin-bottom: 50px;
}

.client__item:not(:last-child){
    margin-right: 30px;
}

.client__item {
    height: 92px;
    width: 170px;
    border: var(--client-color) solid 1px;
    border-radius: 4px;    
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item:hover{
    border: var(--color-hover) solid 1px;
}

.clieny__link {
    width: 100%;
    height: 100%;
    fill: var(--client-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clieny__link:hover {
    fill: var(--color-hover);
}