.filter {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .filter {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
        }
}

.filter :not(:last-child) {
    margin-right: 8px;
}

.filter__btn {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-main-text);
    cursor: pointer;
    padding: 6px 22px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border-color: transparent;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.filter__btn:hover,
.filter__btn:focus {
    color: var(--background-main);
    background-color: var(--color-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}