
.header {
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media screen and (min-width: 1200px) {
    .header {
        border-bottom: 1px solid;
        border-bottom-color: var(--border-line);
        height: 80px;
        padding-top: 0;
} 
}

@media screen and (min-width: 1200px) {
    .header .conteiner {
            align-items: center;
        }
}

@media screen and (min-width: 1200px) {
    .conteiner {
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
            /* outline: 1px solid rgb(255, 0, 0); */
        }
}



.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--color-hover);
}

.logo--header {
    margin-left: 15px;
}
@media screen and (min-width:1200px) {
    .logo--header {
            margin-right: 93px;
            padding-top: 24px;
            padding-bottom: 25px;
        }
}


.logo--header span {
    color: #000000;
}

.navigation {
    display: none;
}

@media screen and (min-width:1200px) {
.navigation {
        display: flex;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width:1200px) {
    .navigation__list {
        display: flex;
    }
}


@media screen and (min-width:1200px) {
    .navigation__link {
        color: var(--color-main-text);
        padding-top: 32px;
        padding-bottom: 32px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width:1200px) {
    .navigation__link:hover,
    .navigation__link:focus {
        color: var(--color-hover);
    }
}


@media screen and (min-width:1200px) {
    .navigation__item:not(:last-child) {
        margin-right: 50px;
    }
}

@media screen and (min-width:1200px) {
    .navigation__link--current {
        color: var(--color-hover);
        position: relative;
    }
}

@media screen and (min-width:1200px) {
    .navigation__link--current::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--color-hover);
        border-radius: 2px;
        bottom: 0;
        left: 0;
    }
}


.contact {
    display: none;
}

@media screen and (min-width:1200px) {
    .contact {
            display: flex;
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
            margin-left: auto;
        }
}


.contact__item:not(:last-child) {
    margin-right: 50px;
}

.contact__icon{
    margin-right: 10px;
    fill: currentColor;   
}

.contact__link {
    display: flex;
    align-items: center;
    color: var(--color-secondary-text);
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
    color: var(--color-hover);
}

.menu-btn-open {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    height: 40px;
    width: 40px;
    background-color: transparent;
    padding: 0;
}

@media screen and (min-width:768px) {
    .menu-btn-open {
            display: none;
        }
} 

.menu-btn__icon:hover {
    fill: var(--color-hover);
}

.mob-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-main);
}

@media screen and (min-width:768px) {
    .mob-menu {
        display: none;
    }
}

.menu-btn-close {
    display: block;
    margin-left: auto;
    border: none;
    height: 40px;
    width: 40px;
    background-color: transparent;
    padding: 0;
    margin-top: 10px;
    margin-right: 15px;
}
.mob-navigation__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-main-text);
}

.mob-navigation__list {
    margin-top: 9px;
    margin-left: 40px;
}

.mob-navigation__item:not(:last-child) {
    margin-bottom: 36px;
}

.mob-navigation__link--current {
    color: var(--color-hover);
}

.mob-menu__contact {
    position: absolute;
    bottom: 48px;
}

.mob-menu__contact-list {
    margin-left: 40px;
}

.mob-menu__contact-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu__contact-link {
    font-weight: 500;
        font-size: 34px;
        line-height: calc (40 / 34);
        letter-spacing: 0.02em;
        color: var(--color-secondary-text);
}

.mob-menu__contact-link:hover {
    color: var(--color-hover);
}

.mob-menu__soc-list {
    margin-left: 40px;
    display: flex;
    margin-top: 64px;
}

.mob-menu__soc-item:not(:first-child) {
    padding-left: 10px;
}
.mob-menu__soc-item:not(:last-child) {
    border-right: solid 1px var(--color-secondary-text);
    padding-right: 10px;
}

.mob-menu__soc-link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: var(--color-secondary-text);
}

.mob-menu__soc-link:hover {
    color: var(--color-hover);
}