.modal {
    width: 528px;
    height: 581px;
    background-color: var(--background-main);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition-duration: 700ms;
    padding: 40px;
}


.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 33px;
    height: 33px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
}

.modal__close:hover{
    fill: var(--color-hover);
    cursor: pointer;
}

.modal__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--color-main-text);
    margin-bottom: 12px;
    display: block;
}

.modal__imput {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
    padding-left: 35px;
}

.modal__imput:focus{
    border-color: var(--color-hover);
    outline: none;
}

.modal__imput:hover {
    border-color: var(--color-hover);
    cursor: pointer;
}

.modal-lable {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    display: block;
    margin-bottom: 4px;
}

.modal__wrap {
    position: relative;
}

.modal__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.modal__imput:hover + .modal__icon {
    fill: var(--color-hover);
}

.modal__imput:focus + .modal__icon {
    fill: var(--color-hover);
}
.user-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}

.user-comment:hover {
    border-color: var(--color-hover);
    cursor: pointer;
    padding: 12px 16px;
}

.user-comment:focus{
    border-color: var(--color-hover);
    outline: none;
}

.contract-check {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contract-check-text {
    margin-right: 7px;
    visibility: hidden;
    position: absolute;
}

.contract-check::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid var(--color-main-text);
    border-radius: 2px;
    margin-right: 7px;
}

.contract-check-text:checked + .contract-check::before {
    background-color: var(--color-hover);
    background-image: url(../image/cheked.svg);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

.contract {
    color: var(--color-hover);
    text-decoration: underline;
}

.btn-form {
    height: 50px;
    width: 200px;
    color: var(--background-main);
    background-color: var(--color-hover);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 
    0px 1px 2px rgb(0 0 0 / 8%), 
    0px 2px 2px rgb(0 0 0 / 12%);
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
/* identical to box height, or 188% */
}