.section {
    padding: 94px 0;
}

.peculiarities__icon{
    height: 120px;
    width: 270px;
    margin-bottom: 30px;
    background-color: var(--backgraund-team);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.peculiarities__list {
    display: flex;
    padding-left: 0;
}

.peculiarities__item {
    width: 270px;
}

.peculiarities__item:not(:last-child){
    margin-right: 30px;
}

.peculiarities__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--color-main-text);
    margin-bottom: 10px;
}

.peculiarities__text {
    color: var(--color-secondary-text);
}