.portfolio {
    padding: 94px 0;
}

.portfolio .conteiner {
    flex-direction: column;
}

.filter {
    display: flex;
    justify-content: center;
}

.filter :not(:last-child){
    margin-right: 8px;
}

.filter__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-main-text);
    cursor: pointer;
    padding: 6px 22px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border-color: transparent;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.filter__btn:hover,
.filter__btn:focus {
    color: var(--background-main);
    background-color: var(--color-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
    margin-top: 50px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    gap: 30px;
}

/* .portfolio__item:nth-child(3n+1){
    margin-right: 30px;
}

.portfolio__item:nth-child(3n+2) {
    margin-right: 30px;
} */



/* .portfolio__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}

.portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0;
} */

.portfolio__item:hover .about-work__text{
    transform: translateY(0);
}

.portfolio__link{
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
}

.about-work {
    position: relative;
    overflow: hidden;
}

.about-work__text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--background-main);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    padding: 0 24px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-duration: cubic-bezier(0.4, 0, 0.2, 1);
}

.about-work__text:hover {
    top: 0;
}

.border {
    padding: 20px 24px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: var(--border-line);
    
}

.border__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-main-text);
    margin-bottom: 4px;   
    text-align: start; 
}

.border__text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-secondary-text);
}