:root {
    --color-main-text: #212121;
    --color-secondary-text: #757575;
    --color-hover: #2196F3;
    --background-main: #FFFFFF;
    --background-footer: #2F303A;
    --backgraund-team: #F5F4FA;
    --border-line: #ECECEC;
    --adress-contact: #FFFFFF99;
    --client-color:#AFB1B8;
}